.properties-list
  padding: 1em .5em
  text-align: center
  background-color: #EFEFEF

  h1
    display: inline-block
    margin: 0 0 .8em
    padding-bottom: 3px
    text-align: center
    font-size: .8em
    font-weight: 500
    text-transform: uppercase
    cursor: default
    border-bottom: 1px solid #555

  &.empty
    .empty-msg
      display: block

  .empty-msg
    display: none
    margin: 0 0 .8em
    text-align: center
    font-size: .7em
    font-weight: 500
    cursor: default
    color: #757575

  .item
    h2
      margin: 0 0 .2em
      font-size: .8em
      font-weight: 300
      cursor: default

    p
      margin: 0 0 1em
      font-size: .6em
      font-weight: 700
      cursor: default