*
  box-sizing: border-box

body,
html
  margin: 0
  padding: 0

.tablero
  position: relative
  width: 650px
  height: 650px
  margin: 0 auto
  max-width: 100%
  max-height: 100%

  .carta
    width = 8.6142%
    height = 11.2359%

    position: absolute

    &.on-top,
    &.on-bottom
      width: width
      height: height

    &.on-right,
    &.on-left
      width: height
      height: width

    &.esquina
      width: height
      height: height

    &.on-right
      right: 0

    &.on-bottom
      bottom: 0

    &.on-left
      left: 0

    &.on-top
      top: 0

    colors = 228 169 102 185 126 103 11 47 49 317 30 289 60 323 68 140 32 175 214 215 318 245 158 81 163 247 53 326 311 99 44 55 153 239 204 131 187 78 200 122

    for hue, index in colors
      &#carta-{index + 1}
        background-color: hsl(hue, 100%, 75%)

    for num in (2..10)
      &#carta-{num}
        left: height + width * (num - 2)

    for num in (12..20)
      &#carta-{num}
        top: height + width * (num - 12)

    for num in (22..30)
      &#carta-{num}
        right: height + width * (num - 22)

    for num in (32..40)
      &#carta-{num}
        top: height + width * (num - 32)
