*
  box-sizing: border-box

body,
html
  margin: 0
  padding: 0

body
  background-color: #fcfcfc

.board
  position: relative
  width: 650px
  height: 650px
  margin: 0 auto
  max-width: 100%
  max-height: 100%
  background-image: url('img/concesionopoly/tablero.svg')
  background-repeat: no-repeat
  background-position: center center
  background-size: 100% 100%

  .square
    width = 8.6142%
    height = 11.2359%

    position: absolute
    opacity: .5
    cursor: pointer

    &:hover
      background-color: magenta

    &.on-top,
    &.on-bottom
      width: width
      height: height

    &.on-right,
    &.on-left
      width: height
      height: width

    &.on-corner
      width: height
      height: height

    &.on-right
      right: 0

    &.on-bottom
      bottom: 0

    &.on-left
      left: 0

    &.on-top
      top: 0

    for num in (1..9)
      &[data-square={s('"%s"', num)}]
        left: round(height + width * (num - 1), 4)

    for num in (11..19)
      &[data-square={s('"%s"', num)}]
        top: round(height + width * (num - 11), 4)

    for num in (21..29)
      &[data-square={s('"%s"', num)}]
        right: round(height + width * (num - 21), 4)

    for num in (31..39)
      &[data-square={s('"%s"', num)}]
        top: round(height + width * (num - 31), 4)
