body{
  background:#f3f3f3;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
}

/*@media all and (max-width: 600px) {
  body {
    font-size: 1.05em;
  }
}*/

h1{
  font-family: 'Convergence';
  font-size: 95px;
  text-align: center;
  letter-spacing: -6px;
  margin: 8px 0;
  text-shadow: 0 0 1px #000;
}
h2{
  font-family:'Bitter';
  font-size:20px;
  font-weight:normal;
  color:#5588bb;
  text-shadow: 0 0 1px #5588bb;
  text-align:center;
  margin: 6px 0;
  text-transform:lowercase;
}

h3{
  margin:8px 0;
}

h4{
  margin:6px 0;
}

a{
  color: #5588bb;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

p.big{
  font-family:'Droid Sans';
  font-size:24px;
  color:#333;
}
p.centered{
  text-align:center;
}

html,body{
  width:100%;
  height:100%;
}

#header, #body{
  /*width:800px;*/
  width:100%;
  height:100%
  margin:0 auto;
}
#body{
  margin:20px auto;
}

#header a{
  color:#000;
}
#header a:hover{
  text-decoration:none;
}

.row{
/*  margin:24px 0;*/
  height: 100%;
  width: 100%;
}

.popin{
  background:#fff;
/*  padding:15px;
  box-shadow: 0 0 20px #999;
  border-radius:2px;*/
}

#list {
  width: 25%;
  float: left;
  height: 100%;
}
@media all and (max-width: 600px) {
  #list {
    width: 40%;
  }
}

#items {
  height: 93%;
  overflow:auto;
}

#map,
#panorama {
  /*height:700px;*/
  height: 100%;
  width: 75%;
  background:#6699cc;
  float: right;
}
@media all and (max-width: 600px) {
  #map,
  #panorama {
    width: 60%;
  }  
}

.span11, .popin{
  /*height: 100%*/
  height: 605px;
}

code {
  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
  font-weight: bold;
}

.lista{
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom-width: 0;
  font-size: 12px;
  cursor: pointer;
}

.lista:hover {
    background-color: #eee;
}

.mas_info {
    margin: 5px 0;
    padding: 10px;
    background-color: #eee;
    line-height: 17px;
}


.field_name, .field_data{
  display: inline-block;
  width: 50%;
  overflow:hidden;
  max-width: 300px;
}


.field_name{
  text-align: right;
  font-weight: bold;
}

.field_data{
  text-align: left;
  float: right;
}

.fields{
  display: table-row;
}

.texto_field{
  margin: 3px;
}


.name_concesion, .imagen_concesion{
  vertical-align: middle;
}

select{
  width: 100%;
}

.fill_space{
  float: left;
  margin-right: 3px;
}
 
.imagen_concesion{
  vertical-align: middle;
  height: 100%;
  display: block;
  overflow: hidden; 
}

.twMarker{
  background-color: #7FC2EE;
  height: 41px;
  display: inline-block;
}

.fbMarker{
  background-color: #415E9B;
  height: 41px;
  display: inline-block;
}