doctype
html
head
  meta(charset='utf-8')
  title Concesionopoly
  link(href='concesionopoly.css', rel='stylesheet', type='text/css')
body
  .concesionopoly(data-concesionopoly)
    include templates/index
    .sidebar
      .dices(data-dices)
        h1 Hacé click para tirar los dados
      .properties-list
        .list(data-properties-list)
    .board(data-board)
      .spacer
      .chip(data-position='0', data-chip)
      .tile.on-corner.on-right.on-bottom(data-tile='0')
      .tile.on-bottom(data-tile='1')
      .tile.on-bottom(data-tile='2')
      .tile.on-bottom(data-tile='3')
      .tile.on-bottom(data-tile='4')
      .tile.on-bottom(data-tile='5')
      .tile.on-bottom(data-tile='6')
      .tile.on-bottom(data-tile='7')
      .tile.on-bottom(data-tile='8')
      .tile.on-left(data-tile='9')
      .tile.on-left(data-tile='10')
      .tile.on-left(data-tile='11')
      .tile.on-left(data-tile='12')
      .tile.on-left(data-tile='13')
      .tile.on-left(data-tile='14')
      .tile.on-left(data-tile='15')
      .tile.on-left(data-tile='16')
      .tile.on-top(data-tile='17')
      .tile.on-top(data-tile='18')
      .tile.on-top(data-tile='19')
      .tile.on-top(data-tile='20')
      .tile.on-top(data-tile='21')
      .tile.on-top(data-tile='22')
      .tile.on-top(data-tile='23')
      .tile.on-top(data-tile='24')
      .tile.on-right(data-tile='25')
      .tile.on-right(data-tile='26')
      .tile.on-right(data-tile='27')
      .tile.on-right(data-tile='28')
      .tile.on-right(data-tile='29')
      .tile.on-right(data-tile='30')
      .tile.on-right(data-tile='31')
      .tile.on-right(data-tile='32')
  script(src='//cdn.polyfill.io/v1/polyfill.min.js')
  script(src='concesionopoly.js')
  script.
    var concesionopoly = new Concesionopoly({
      el: document.querySelector('[data-concesionopoly]')
    })
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
