doctype
html
head
  title Concesionopoly
  link(href='concesionopoly.css', rel='stylesheet')
body
  .tablero(data-concesionopoly)
    .casillero.c-1.on-corner.on-left.on-top
    .casillero.c-2.on-top
    .casillero.c-3.on-top
    .casillero.c-4.on-top
    .casillero.c-5.on-top
    .casillero.c-6.on-top
    .casillero.c-7.on-top
    .casillero.c-8.on-top
    .casillero.c-9.on-top
    .casillero.c-10.on-top
    .casillero.c-11.on-corner.on-right.on-top
    .casillero.c-12.on-right
    .casillero.c-13.on-right
    .casillero.c-14.on-right
    .casillero.c-15.on-right
    .casillero.c-16.on-right
    .casillero.c-17.on-right
    .casillero.c-18.on-right
    .casillero.c-19.on-right
    .casillero.c-20.on-right
    .casillero.c-21.on-corner.on-right.on-bottom
    .casillero.c-22.on-bottom
    .casillero.c-23.on-bottom
    .casillero.c-24.on-bottom
    .casillero.c-25.on-bottom
    .casillero.c-26.on-bottom
    .casillero.c-27.on-bottom
    .casillero.c-28.on-bottom
    .casillero.c-29.on-bottom
    .casillero.c-30.on-bottom
    .casillero.c-31.on-corner.on-left.on-bottom
    .casillero.c-32.on-left
    .casillero.c-33.on-left
    .casillero.c-34.on-left
    .casillero.c-35.on-left
    .casillero.c-36.on-left
    .casillero.c-37.on-left
    .casillero.c-38.on-left
    .casillero.c-39.on-left
    .casillero.c-40.on-left
