doctype
html
head
  title Concesionopoly
  link(href='concesionopoly.css', rel='stylesheet')
body
  .tablero
    #carta-1.carta.esquina.on-left.on-top
    #carta-2.carta.on-top
    #carta-3.carta.on-top
    #carta-4.carta.on-top
    #carta-5.carta.on-top
    #carta-6.carta.on-top
    #carta-7.carta.on-top
    #carta-8.carta.on-top
    #carta-9.carta.on-top
    #carta-10.carta.on-top
    #carta-11.carta.esquina.on-right.on-top
    #carta-12.carta.on-right
    #carta-13.carta.on-right
    #carta-14.carta.on-right
    #carta-15.carta.on-right
    #carta-16.carta.on-right
    #carta-17.carta.on-right
    #carta-18.carta.on-right
    #carta-19.carta.on-right
    #carta-20.carta.on-right
    #carta-21.carta.esquina.on-right.on-bottom
    #carta-22.carta.on-bottom
    #carta-23.carta.on-bottom
    #carta-24.carta.on-bottom
    #carta-25.carta.on-bottom
    #carta-26.carta.on-bottom
    #carta-27.carta.on-bottom
    #carta-28.carta.on-bottom
    #carta-29.carta.on-bottom
    #carta-30.carta.on-bottom
    #carta-31.carta.esquina.on-left.on-bottom
    #carta-32.carta.on-left
    #carta-33.carta.on-left
    #carta-34.carta.on-left
    #carta-35.carta.on-left
    #carta-36.carta.on-left
    #carta-37.carta.on-left
    #carta-38.carta.on-left
    #carta-39.carta.on-left
    #carta-40.carta.on-left
