doctype
html
head
  title Concesionopoly
  link(href='concesionopoly.css', rel='stylesheet')
body
  .board(data-concesionopoly)
    .square.on-corner.on-left.on-top(data-square='0')
    .square.on-top(data-square='1')
    .square.on-top(data-square='2')
    .square.on-top(data-square='3')
    .square.on-top(data-square='4')
    .square.on-top(data-square='5')
    .square.on-top(data-square='6')
    .square.on-top(data-square='7')
    .square.on-top(data-square='8')
    .square.on-top(data-square='9')
    .square.on-corner.on-right.on-top(data-square='10')
    .square.on-right(data-square='11')
    .square.on-right(data-square='12')
    .square.on-right(data-square='13')
    .square.on-right(data-square='14')
    .square.on-right(data-square='15')
    .square.on-right(data-square='16')
    .square.on-right(data-square='17')
    .square.on-right(data-square='18')
    .square.on-right(data-square='19')
    .square.on-corner.on-right.on-bottom(data-square='20')
    .square.on-bottom(data-square='21')
    .square.on-bottom(data-square='22')
    .square.on-bottom(data-square='23')
    .square.on-bottom(data-square='24')
    .square.on-bottom(data-square='25')
    .square.on-bottom(data-square='26')
    .square.on-bottom(data-square='27')
    .square.on-bottom(data-square='28')
    .square.on-bottom(data-square='29')
    .square.on-corner.on-left.on-bottom(data-square='30')
    .square.on-left(data-square='31')
    .square.on-left(data-square='32')
    .square.on-left(data-square='33')
    .square.on-left(data-square='34')
    .square.on-left(data-square='35')
    .square.on-left(data-square='36')
    .square.on-left(data-square='37')
    .square.on-left(data-square='38')
    .square.on-left(data-square='39')
  script(src='concesionopoly.js')
  script.
    var concesionopoly = new Concesionopoly({
      el: document.querySelector('[data-concesionopoly]')
    })
