<div class="modal end">
  <h1>Terminaste!</h1>
  <p>Conseguiste un total de <strong>${this.count}</strong> concesiones con un costo total de <strong>$${this.cost}</strong> por mes.</p>
  <p>&nbsp;</p>
  <p>
    <a class="link" href="https://twitter.com/intent/tweet?text=%40partidodelared%20Consegu%C3%AD%20${this.count}%20concesiones%20a%20un%20costo%20de%20%24${this.cost}%20por%20mes%20jugando%20al%20%23concesionopoly%20en%20http%3A%2F%2Fconcesionopoly.com.ar" target="_blank">Compartir en Twitter</a>
  </p>
  <p>
    <a class="link" href="http://www.facebook.com/sharer.php?p[url]=20http%3A%2F%2Fconcesionopoly.com.ar" target="_blank">Compartir en Facebook</a>
  </p>
  <p>&nbsp;</p>
  <p>A continuación podes ver un mapa completo con todas las concesiones de la ciudad:</p>
  <p>
    <a href="/integrated/mapa" title="Ver Mapa"><img src="img/concesionopoly/mapa-icon.png"></a>
  </p>
</div>