mixin template(name)
  script(type='text/html', data-template=name)
    block

.templates(style='display:none', data-templates)
  +template('welcome')
    include ./welcome.html
  +template('end')
    include ./end.html
  +template('extraordinary-tax')
    include ./extraordinary-tax.html
  +template('luck')
    include ./luck.html
  +template('concession')
    include ./concession.html
  +template('property-info')
    include ./property-info.html
  +template('properties-list-item')
    include ./properties-list-item.html
